html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}
.buttons{
    display: flex;
    align-items: center;
    gap: 10px;
}

@media(max-width: 767px) {
    .buttons {
        flex-direction: column;
    }
}