.buttons {
    display: flex;
    align-items: center;
    gap: 10px;
}

@media(max-width: 767px) {
    .buttons {
        flex-direction: column;
    }
}

.button__done {
    background-color: green;
    color: white;
    width: 40px;
    height: 40px;
    padding: 5px;
    border: none;
}

.button__remove {
    background-color: red;
    color: white;
    width: 40px;
    height: 40px;
    padding: 5px;
    border: none;
}