.task {
    list-style: none;
    padding: 0;
}

.list__task {

    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    padding: 10px;
    border-bottom: 2px solid hsl(0, 0%, 85%);
    grid-gap: 10px;
}
.list__task--hidden{
    display:none;
}
.list__task--content-done{
    text-decoration: line-through;
}

.list__text {
    padding: 0px 20px;
}


.list--buttons{
    display: flex;
    flex-wrap: wrap;
}
.list__button{
    border: none;
    cursor:pointer;
    background: transparent;
    color: teal;
    transition:0.4s;
}
@media(max-with:767px){
    .list__button{
        width: 100%;
        margin: 20px;
    }
}
.list__button:hover{
    color:hsl(180, 100%, 32%) ;
}
.list__button:active{
    color:hsl(180, 100%, 48%) ;
}
.list__button:disabled{
    color:#c1b9b9;
    cursor: default;
}
