.task{
    list-style: none;
    padding: 0;
}

.list__task {

    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    padding: 10px;
    border-bottom: 2px solid hsl(0, 0%, 85%);
    grid-gap: 10px;
}
.list__task--hidden{
    display:none;
}
.list__task--content-done{
    text-decoration: line-through;
}

.list__text {
    padding: 0px 20px;
}

.tasks__button {
border:none;
color:white;
width:30px;
height:30px;
margin:10px;
transition:0.5s;
cursor: pointer;
}


